
.con_form{
	width: 530px;
	height: auto;
	padding: 20px 30px 0;
	font-size: 14px;
}
.con_form table tr{
	height: 40px;
}
.con_form table tr td{
	padding-bottom:2rem;
}
.con_form table tr td:first-child{
	min-width:4.5rem;
}
.con_form table tr td input,.con_form table tr td select{
	height: 25px;
	border:#dedede 1px solid;
	background-color: #f3f3f3;
	text-indent: 10px;
}
.con_form table tr td.yue{
	font-size: 12px;
	padding-left: 10px;
}
.con_form table tr td.yue span{
	color: red;
}
.con_form table tr td select{
	width: 124px;
	width:115px\9;
	font-family: "微软雅黑";
	text-indent: 0px;
}
input.chong_sub{
	width: 147px;
	height: 38px;
	background: url('../images/save.jpg');
	color: #fff;
	border:none;
	margin: 20px 0 0 84px;
	cursor: pointer;
}
#tip1,#tip2{
	color: red;
	text-indent: 5px;
}
/**/
.data_price{
	font-weight: normal;
	text-indent: 3px;
}
.data_price span{
	color: red;
}