		<!-- 加载日期控件 start -->
		<script type="text/javascript" src="__PUBLIC__/Admin/js/WdatePicker.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/calendar.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/lang/zh-cn.js"></script>
		<!-- 加载日期控件 end  -->
		

        <script>
        $(function(){
            $('ul.navy').eq(0).find('ul.sec_nav').slideDown();
           
        });
        $('a.top_nav').click(function(){
            $(this).parent().find('ul').slideToggle();
        });
        </script>
    </body>
</html>