<footer class="foot">
	<div class="foo-left">{$company.beian}</div>
	<div class="foo-right">
		<span>分享：</span>
		<div class="bdsharebuttonbox">
			<a href="#" class="bds_tsina sina" data-cmd="tsina" title="分享到新浪微博" style="width:17px;height:34px;background:url(__PUBLIC__/Home/images/sina.png) no-repeat;">
			</a>
			<a href="#" class="bds_sqq qq" data-cmd="sqq" title="分享到QQ好友" style="width:17px;height:34px;background:url(__PUBLIC__/Home/images/qq.png) no-repeat;"></a>
			<a href="#" class="bds_tqq tqq" data-cmd="tqq" title="分享到腾讯微博" style="width:17px;height:34px;background:url(__PUBLIC__/Home/images/tencen.png) no-repeat;"></a>
			<a href="#" class="bds_weixin weichat" data-cmd="weixin" title="分享到微信" style="width:17px;height:34px;background:url(__PUBLIC__/Home/images/weichat.png) no-repeat;"></a>
		</div>
	</div>
</footer>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","sqq","tqq","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>