<header class="pc-head">
	<div><img src="__PUBLIC__/Home/images/logo1.png" alt=""></div>
	<ul>
		<volist name="nav" id="na">
		<li><a href="{$na.url}">{$na.name}</a></li>
		</volist>
	</ul>
	<section class="copy">{$company.copy}</section>
</header>
<header class="wap-head">
	<img src="__PUBLIC__/Home/images/logo2.png" alt="" class="logo2">
	<a href="javascript:;" class="menu"><img src="__PUBLIC__/Home/images/hunger.png" alt=""></a>
</header>
<ul class="sec-bar">
	<volist name="nav" id="na">
	<li><a href="{$na.url}">{$na.name}</a></li>
	</volist>
</ul>
<div class="cai"></div>

