<!DOCTYPE HTML>
<html>
	<head>
		<title>{:C('WEB_TITLE')}</title>
		<meta name="keywords" content="{:C('WEB_KEY')}" />
		<meta name="description" content="{:C('WEB_DES')}" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="__PUBLIC__/Home/css/public.css" rel="stylesheet" type="text/css">
		<link href="__PUBLIC__/Home/css/yingxiao.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	</head>
	<body>
		<!-- header start-->
		<include file="Public:head" />
		<!-- header end-->
		<div class="kong"></div>
		<div class="contain">
			<nav class="lan">
				<span class="active">软文代写代发</span>
				<span>网站SEO优化</span>
				<span>网店管家ERP系统</span>
				<span>营销助手软件</span>
			</nav>
			<section  class="tab">
				<div class="left"><img src="__PUBLIC__/Home/images/y1.png" alt=""></div>
				<div class="right">
					<h3>我们所提供的原创文章 全部是纯手工，根据关键词和网址来写，还可以根据客户的写作角度，写作目的来写。二二二品质口碑相传。</h3>
					<div class="state">
						<span>什么是原创文章</span></br>
						原创文章就是网上没有的，你发布到你的网站上去，百度搜索引擎就看到你的网站不断给用户提供有价值的内容，而不是复制的内容。
					</div>
					<div class="state">
						<span>什么是原创文章</span></br>
						原创文章就是网上没有的，你发布到你的网站上去，百度搜索引擎就看到你的网站不断给用户提供有价值的内容，而不是复制的内容。
					</div>
				</div>
			</section>
			<section class="tab">
				<h3>二二二科技国内中文SEO网站优化第一品牌</h3>
				<ul class="con">
					<li>
						<div class="fir">
							<span>接单标准</span></br>
							为了保证服务品质，二二二科技对不愿意支付首付的客户，只是简单介绍，敬请谅解！
						</div>
					</li>
					<li>
						<div class="sec">
							<span>接单标准</span></br>
							为了保证服务品质，二二二科技对不愿意支付首付的客户，只是简单介绍，敬请谅解！
						</div>
					</li>
					<li>
						<div class="thr">
							<span>接单标准</span></br>
							为了保证服务品质，二二二科技对不愿意支付首付的客户，只是简单介绍，敬请谅解！
						</div>
					</li>
				</ul>
				<div class="seo-state">
					<span>1.网络营销不仅仅是做个网站:</span></br>
					在超过5亿网民的今天，网络营销是任何企业都无法抗拒的巨大市场，如果仅仅做个网站而无网站推广，就犹如印一盒名片放在抽屉里，对企业无任何作用；</br>
					<span>2.搜索引擎是最好的推广方式：</span></br>
					超过4亿网民首选百度等搜索引擎来寻找信息，通过搜索引擎来的客户意向性最强，最可能购买你的产品或服务，时间上也是急切的，是企业网站推广第一选择；</br>
					<span>3.SEO让多搜索引擎排名靠前：</span></br>
					找网站优化公司做好排名后，不但在百度，还有谷歌、搜狗、搜搜、有道等知名搜索引擎也会有很好的排名效果。"花一样钱补六样不放过每个可能的目标客户</br>
					<span>4.SEO成本低，避免遭恶意点击：</span></br>
					SEO优化推广成本远低于竞价排名；另外自然排名点击零成本，可有效避免做竞价时遭遇恶意点击；</br>
					<span>5.与竞价互补，彰显企业品牌优势： </span></br>
					大部分高端用户，搜索时只点击自然排名结果，网站SEO自然排名是竞价的必备补充；网站在搜索结果前列，是网站"有价值，有实力"的直观表现。
				</div>
			</section>
			<section class="tab">
				<h3> 二二二科技“网店管家”</h3>
				<span class="erp-state">行业内应用范围最广，开发历史最悠久的电子商务ERP/CRM/OA一体化解决方案。</span>
				<ul class="erp">
					<li>价格公开</li>
					<li>自由下载</li>
					<li>免费试用</li>
					<li>开发论坛</li>
					<li>重产品</li>
					<li>轻交付</li>
					<li>操作简单</li>
					<li>短时间可下载学习掌握v</li>
				</ul>
				<div class="erp-img"><img src="__PUBLIC__/Home/images/computer.png" alt=""></div>
			</section>
			<section class="tab">
				<div class="app-left"><img src="__PUBLIC__/Home/images/app.png" alt=""></div>
				<div class="app-right">
					<h3>N168QQ营销助手，一套专门针对QQ空间+QQ微博的营销系统</h3>
					<span>QQ营销助手：分别具有三大功能，QQ空间营销、QQ微博营销、QQ空间访客采集。</span>
				</div>
			</section>
		</div>
		
		<!-- fixed -->
		<include file="Public:fix" />

		<!-- footer start -->
		<include file="Public:footer" />
		<!-- footer end -->
		<script>
		var tap = 'createTouch' in document ? 'tap' : 'click';
		$(function(){
			$('.box').addClass('big-run');
			$('.box a').addClass('small-run');
			$('.box img').addClass('small-run');
			// 
			$('section.tab').eq(0).css('display','block');
		});
		// 
		$('nav.lan span').on(tap,function(){
			$(this).addClass('active').siblings().removeClass('active');
			var i = $(this).index();
			$('section.tab').css('display','none').eq(i).css('display','block');
		});
		 // public
		$('a.menu').on('click',function(){
		    $('ul.sec-bar').slideToggle();
		});
		</script>
	</body>
</html>